<template>
     <div>
        <div class="card mb-4">
            <div class="card-header">
                Crear nueva Categoria
            </div>
            <div class="card-body">
                    <form  @submit.prevent = "submit" id="createcategory">
                        <div class="form-group">
                            <label for="title">Nombre</label>
                            <input class="form-control" id="name" name="name"  type="text" placeholder="Nombre" v-model="form.name" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Crear Categoria</button>
                    </form>
            </div>
        </div>
    </div>   
</template>
<script>
import {mapActions} from 'vuex'
export default {
    name:'CreateCategory',
    data(){
        return {
            form:{
                name:'',
            },
        }
    },
    methods:{
        ...mapActions({
            create_category:'category/createCategory'
        }),
        async submit(){
            try{
                await this.create_category(this.form)
                $('#createcategory')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            }catch(error){
                let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal|({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})

            }
            
        } 
              
    }  
}
</script>