<template>
    <div>
        <NavHome :color="color"/>
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">LIBRERIA 'BOLIVIA'</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Garantisando siempre los mejores precios que podras encontrar</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="#about">Mas informacion</a>
                </div>
            </div>
        </header>
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">LIBRERIA 'BOLIVIA'</h2>
                        <p class="text-white-50">
                            Contamos con exelentes libros para todos los gustos siempre priorizando los mejores precios para el consumidor y garantizando
                            buena calidad en los libros
                            
                        </p>
                    </div>
                </div>
                <!--<img class="img-fluid" src="/images/img1.jpg" alt="" />-->
            </div>
        </section>
        <!-- Projects-->

        <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <!--<div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/images/img1.jpg"
                            alt="" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Shoreline</h4>
                            <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can
                                use it for any project - even commercial projects! Download it, customize it, and
                                publish your website!</p>
                        </div>
                    </div>
                </div>-->
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="/images/img2.jpg" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Harry Potter</h4>
                                    <p class="mb-0 text-white-50">Ya disponible todos los libros de Harry Potter, Harry Potter es una serie de novelas fantásticas sobre magia y hechiceria escrita por la autora británica J. K. Rowling
                                        
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="/images/img01.png" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">El señor de los anillos</h4>
                                    <p class="mb-0 text-white-50">Ya dusponile a la venta 'El señor de los anillos', es una novela de fantasía épica escrita por el filólogo y escritor británico J. R. R. Tolkien.
                                    Su historia se desarrolla en la Tercera Edad del Sol de la Tierra Media, un lugar poblado por hombres y otras razas antropomorfas como los hobbits,
                                    los elfos o los enanos, así como por muchas otras criaturas fantásticas.
                                    </p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
        <!--<section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                        <form class="form-inline d-flex">
                            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email"
                                placeholder="Enter email address..." />
                            <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>-->
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Direccion</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">125 Calle Bolivar, Tarija - Bolivia</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="#!">Libreria_Bolivia@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Telefono</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">+591 154522556</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                </div>-->
            </div>
        </section>
    </div>
</template>

<script>
import NavHome from '../components/NavHome'
export default {
    name:'Home',
    data(){
        return {
            color:''
        }
    },
    components:{NavHome},
}
</script>