<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" v-model="form.name">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <div>
            <label for="password">Confirmar Contraseña</label>
            <input type="text" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation">
        </div>
        <button type="submit">Registrarse</button>
    </form>
</template>>-->
<template>
	<div>
	
	<div class="limiter" style="padding-top: 2%;">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form"  @submit.prevent = "submit">
					<span class="login100-form-title p-b-34">
                        Registrarse
					</span>
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="name" class="input100" type="text" name="name" placeholder="Nombre de Usuario" v-model="form.name" autocomplete="off">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="email" class="input100" type="email" name="email" placeholder="Correo Electronico" v-model="form.email" autocomplete="off">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs3-wrap-input100 validate-input m-b-20" data-validate="Password" autocomplete="off">
						<input class="input100" type="password" name="password"  id="password" placeholder="Contraseña"  v-model="form.password">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs4-wrap-input100 validate-input m-b-20" data-validate="Password" autocomplete="off">
						<input class="input100" type="password" name="password_confirmation"  id="password_confirmation" placeholder="Confirmar Contraseña"  v-model="form.password_confirmation">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Registrarse
						</button>
					</div>

					<!--<div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">
							olvido su
						</span>

						<a href="#" class="txt2">
							Nombre de Usuario / Contraseña?
						</a>
					</div>-->

					<!--<div class="w-full text-center">
						<a href="#" class="txt3">
							Sign Up
						</a>
					</div>>-->
				</form>

				<div class="login100-more img-login"></div>
			</div>
		</div>
	</div>
	</div>
</template>



<script>
import {mapActions} from 'vuex'

export default {
    name:'SignUp',
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
            signUp:'auth/signUp'
        }),
        async submit(){
            await this.signUp(this.form)
            this.$router.replace({name:'dashboard.post'})
        }
    }
}
</script>